.header{
  color: white;
  background-color: black;
  
  text-decoration: double;
    
}
.link{
   height: 3cqw;
    color: antiquewhite;
    background-color: black;
    height: 25px;
    padding: 5px;
    

}
.logo{
    text-align: right;
    position: relative
    
}
.header-right{
    text-align: right;
    justify-content: space-between;
} 
.back{
    background-image: url(IMG_E2513.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.para{
    border: 5px solid white;
    padding: 10px;
    
}
#head{
    font-size: larger;
    text-decoration: underline;
    text-align: first;


}
.center{
    font-size: x-large;
    font-style: normal;
    font-display: flex;
    font-weight: 800;
    text-align: center;
    margin: 0;
    text-align: justify;

}
#submit{
    background-color: aliceblue;
}