.header{
  color: white;
  background-color: black;
  
  text-decoration: double;
    
}
.link{
   height: 3cqw;
    color: antiquewhite;
    background-color: black;
    height: 25px;
    padding: 5px;
    

}
.logo{
    text-align: right;
    position: relative
    
}
.header-right{
    text-align: right;
    justify-content: space-between;
} 
.back{
    background-image: url(images\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: repeat-y;
}